.container {
    margin: 0 auto;
    width: 1200px;
}

.section {
    margin: 0 0 175px 0;
}

.start-main-section {
    margin: 0 0 125px 0;
    background-color: aqua;
}

.start-main-container {
    font-family: "Montserrat", sans-serif;
    position: relative;
    text-align: center;
    max-width: 800px;
}

.main-container h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span {
    font-size: 58px;
}

.btn {
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}


.btn:hover {
    transition: 0.5s;
    background-color: #FA4A0C;
    border: 0;
}

.main-ul {
    display: flex;
}

.main-li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    text-align: left;
}

.main-h2 {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 44px;
}

.main-p {
    color: #FA4A0C;
    display: flex;
    flex-direction: column;
    font-size: 24px
}

.main-p2 {
    font-size: 24px;
    color: #737373;
}

.main-h3 {
    font-size: 40px;
}

.text {
    margin: 0 0 0 325px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.second-text {
    margin: 0 325px 0 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.p {
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul,
li {
    list-style: none;
}

.nav-list {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}

.nav-link {
    color: #252B42;
    text-decoration: none;
}

.nav-link:hover {
    color: #FA4A0C;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

.end-main-section {
    margin: 0 0 125px 0;
    background-color: aqua;
}

.end-main-container {
    font-family: "Montserrat", sans-serif;
    position: relative;
    text-align: center;
    max-width: 800px;
}

.footer {
    margin: 0 auto;
    width: 1200px;
}

.end-p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Roboto", sans-serif;
}